// kolory
$primary-color: #3a60c0;
$secondary-color: #5c77a1;
$accent-color: #101284;
$rose: rgb(231, 45, 212);
$light-blue: #45abd7;
$rose-accent: rgb(120, 0, 108);

//tło i tekst
$bg-color: #2d3436;
$text-color: rgb(138, 201, 240);
$white: #ffffff;

//boxy
$border-radius: 15px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);




